<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
   <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
 <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	  
      -->
       
    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body>
   
 <div class="container">	   
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   
        <div class="container">
        <a class="navbar-brand" href="#">Blockchain </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Data Source
           <!--    <span class="sr-only">(current)</span>  -->
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="Configure">Blockchain Configure</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 
  
 
     
 <hr>
   
   <div class="col-lg-12 text-center">  
     <div class="card-title">  <b><font size="7" color="blue">人工智能-區塊鏈之室內懸浮粒子量測系統 </font></b></div> 
       <div class="card-title"> <b><font size="6" >智慧創新團隊 !</font></b></div> 
   </div> 
  
<hr>    
  
  <br> 
     
 
   
  
<!-- Blockchain Transactions Table -->
    
     
 
    <!-- Mined Transactions Table -->
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="card-title">PM data: &nbsp;&nbsp;&nbsp;
              <button type="submit" id="refresh_blockchain" class="btn btn-sq-xs btn-primary">
                <i class="fa fa-refresh"></i>
              </button>
            </h4>
          </div>
        </div>
      </div>

    </div>  
      
    <!-- Blockchain Transactions Table     -->
    <div class="container">
      <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
      
      

    </div>
   
      
     
    
      <!-- Modal  <div class="row">  -->
      <div class="container">
       <div class="row justify-content-center"> 
         <div class="form-inline">
          <!--<div class="col-lg-12 text-center">-->
          
           
           <div class="form-group">
             <div class="col-sm-5"> 
               <label for="amount_input_data" > <font size="5">Create PM data block  : </font></label>
             </div>
              
               <input type="number" name="amount_input_data" id="amount_input_data" rows="1" size="1" class="form-control" >
             
               
               <div class="col-sm-2">
                 <input type="button" id="Input_data_button" class="btn btn-success btn-lg" value="Select PM data">
               </div>
               
            </div>
        </div>
      </div>
    </div>    
     
  <hr>   
     
  <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="card-title">AI Training model: &nbsp;&nbsp;&nbsp;
              <button type="submit" id="refresh_transactions" class="btn btn-sq-xs btn-primary">
                <i class="fa fa-refresh"></i>
              </button>
            </h4>
          </div>
        </div>
      </div>

    </div>
  
     
     
     
   <!-- Unmined Transactions Table -->
    <div class="container">
      <table id="unmined_transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>

      

    </div>
<div class="container">
       <div class="row justify-content-center"> 
         <div class="form-inline">
          <!--<div class="col-lg-12 text-center">-->
          
           
           <div class="form-group">
             <div class="col-sm-5"> 
               <label for="amount_input_AI" > <font size="5">Create AI model block  : </font></label>
             </div>
              
               <input type="number" name="amount_input_AI" id="amount_input_AI" rows="1" size="1" class="form-control" >
             
               
               <div class="col-sm-2">
                 <input type="button" id="Input_AI_button" class="btn btn-info btn-lg" value="Select AI model">
               </div>
               
            </div>
        </div>
      </div>
    </div>     
    <hr>    
      



    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </div>

   
   <!-- <div class="container">
      <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div>
     -->
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>
      
      
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <div class="card-title"> <b><font size="5" >The block of PM datas and AI training model will be created by click on the button!</font></b> </div>
            
          </div>

        </div>
      </div>
    </div>

    <br>

    
 
      
      
      

    <div class="container alert alert-secondary">
    <form id="transaction_form" >
    
        <br>
      <div class="container">
       <div class="alert alert-info" role="alert">    
       <div class="row">
        

        <div class="col-sm-2"><label><font size="5">Location  : </font></label></div>
        <div class="col-sm-4"><input type="number" name="location_address" id="location_address" rows="1" class="form-control"></div>  
         <div class="col-sm-2"><label> <font size="5">Datatime  : </font></label></div>
      <!--  <div class="col-sm-4"><input type="datetime-local" name="amount_datatime" id="amount_datatime" rows="1"  class="form-control"></div> -->
        <div class="col-sm-4"><input type="text" name="amount_datatime" id="amount_datatime" rows="1"  class="form-control"></div> 
      </div>
      </div>  
     </div> 
      
        
    <div class="container">
     <div class="alert alert-danger " role="alert">   
      <div class="row">
        <div class="col-sm-2"><label > <font size="5"> PM1.0: </font></label></div>
        <div class="col-sm-2"><input type="number" name="amount_pm_1_0" id="amount_pm_1_0" rows="1" class="form-control"></div>
        <div class="col-sm-2"><label> <font size="5"> PM2.5: </font></label></div>
        <div class="col-sm-2"><input type="number" name="amount_pm_2_5" id="amount_pm_2_5" rows="1" class="form-control"></div>  
        <div class="col-sm-2"><label > <font size="5">PM10: </font></label></div>
        <div class="col-sm-2"><input type="number" name="amount_pm_10_0" id="amount_pm_10_0" rows="1" class="form-control"></div>  
      </div>
     </div>    
    </div>    
        
      
    
       
        
   
        
    <div class="container">
     <div class="alert alert-success  " role="alert">   
      <div class="row">
        
        <div class="col-sm-2"><label><b> <font size="5" >AI  : </font></b></label></div>
        <div class="col-sm-10"><input type="text" name="amount_ai_1" id="amount_ai_1" rows="1"  style="color:blue; font-weight:bold;" class="form-control"></div> 
        <div class="col-sm-2"><label><b> <font size="5" >Description  : </font></b></label></div>
        <div class="col-sm-10"><input type="text" name="amount_Description" id="amount_Description" rows="1"  style="color:blue; font-weight:bold;" class="form-control"></div>
        
          
      </div>
      <div class="modal-footer ">
          <div class="col-lg-12 text-center">
           <div> 
           
           <input type="button" id="generate_transaction" class="btn btn-primary btn-lg " value="Generate Block !">
          </div>
        </div>   
     </div>    
    </div>    
   </div>       
        

        <br>        
        
    </form>
    </div>


    <!-- Modal -->



    <!-- Bootstrap core JavaScript -->
  <!--  <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   --> 
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>  
      
      

    <script>
     var transactions_a2 =[]; 
     var transactions_b = []; 
     
        
    
        
      $(function () {
          $("#generate_transaction").click(function () {

            $.ajax({
              url: "/generate/transaction",
              type: "POST",
              dataType : 'json',
              data: $('#transaction_form').serialize(),
              success: function(response){

               // document.getElementById("confirmation_sender_address").value = response["transaction"]["sender_address"];
                if (document.getElementById("confirmation_location_address").value!='')
                {    
                document.getElementById("confirmation_location_address").value = response["transaction"]["location_address"];
                document.getElementById("confirmation_datatime").value = response["transaction"]["value_datatime"];
                document.getElementById("confirmation_pm_1_0").value = response["transaction"]["value_pm_1_0"];
                document.getElementById("confirmation_pm_2_5").value = response["transaction"]["value_pm_2_5"];
                document.getElementById("confirmation_pm_10_0").value = response["transaction"]["value_pm_10_0"];
                document.getElementById("confirmation_ai_1").value = response["transaction"]["value_ai_1"];                
                document.getElementById("confirmation_Description").value = response["transaction"]["value_Description"]; 
                }

                
                $("#basicModal").modal('show');
              },
              error: function(error){
                console.log(error);
                console.log('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@');  
              }
            });

          });
      });

/*
      $(function () {
          $("#button_confirm_transaction").click(function () {
            //console.log($('#confirmation_transaction_form').serialize());


            $.ajax({
              url: document.getElementById("node_url").value + "/transactions/new",
              type: "POST",
              headers: {'Access-Control-Allow-Origin':'*'},
              dataType : 'json',
              data: $('#confirmation_transaction_form').serialize(),
              success: function(response){

                //reset both forms
                $("#transaction_form")[0].reset();
                $("#confirmation_transaction_form")[0].reset();
                
                //clean text boxes
               // $("#sender_address").val("");
               // $("#sender_private_key").val("");
                $("#location_address").val("");
                $("#amount_pm_1_0").val("");
                $("#amount_pm_2_5").val("");
                $("#amount_pm_10_0").val("");
                $("#amount_ai_1").val("");  
                $("#amount_datatime").val("");  
                $("#amount_Description").val("");
                $("#basicModal").modal('hide');
                $("#success_transaction_modal").modal('show');
                
              },
              error: function(error){
                console.log(error);
                
              }
            });
              
            
             $.ajax({
              url: document.getElementById("node_url_2").value + "/transactions/new",
              type: "POST",
              headers: {'Access-Control-Allow-Origin':'*'},
              dataType : 'json',
              data: $('#confirmation_transaction_form').serialize(),
              success: function(response){

                //reset both forms
                $("#transaction_form")[0].reset();
                $("#confirmation_transaction_form")[0].reset();
                
                //clean text boxes
               // $("#sender_address").val("");
               // $("#sender_private_key").val("");
                $("#location_address").val("");
                $("#amount_pm_1_0").val("");
                $("#amount_pm_2_5").val("");
                $("#amount_pm_10_0").val("");
                $("#amount_ai_1").val("");  
                  
                $("#amount_Description").val("");
                $("#amount_datatime").val("");
                $("#basicModal").modal('hide');
                $("#success_transaction_modal").modal('show');
                
              },
              error: function(error){
                console.log(error);
                
              }
            });
  
              

          });
      });
   */
     
      /// Mysql_user_dat (BEGIN)
      $(function(){

        $.ajax({
          //url: "/Mysql_user_data",
          url: "/Mysql_AI",  
          type: 'GET',
          success: function(response){

              //Generate Transactions Table
              //var ransaction_a = [];
              //var transactions_a = [];
              //var transactions_a2 = [];
              //transactions_a = response["transactions_aa"];
              //transactions_a2 = response["transactions_total"];
              transactions_a2 = response["transactions_AI"];
            // Restrict a column to 10 characters, do split words
              $('#unmined_transactions_table').dataTable( {
                data: transactions_a2,
                columns: [{ title: "#" },
                          //{ title: "User"},
                          { title: "Location"},
                          { title: "Training Model"},
                          
                         // { title: "PM2.5"},
                         // { title: "PM10"},
                          //{ title: "AI_1"},
                          { title: "Description"},  
                          { title: "Datatime"},
                          //{ title: "Datatime"},
                          
                          ],
                columnDefs: [ {targets: [1,2,3], render: $.fn.dataTable.render.ellipsis( 25 )}]
              } );

          },
          error: function(error){
            console.log(error);
          }
        });


        $.ajax({
          url: "/Mysql_user_data",
          type: 'GET',
          success: function(response){

              //Generate Transactions Table
              //var ransaction_b = [];
              
              transactions_b = response["transactions_total"];
              count = 1;
           
             
            // Restrict a column to 10 characters, do split words
              $('#transactions_table').dataTable( {
                data: transactions_b,
                columns: [{ title: "#" },
                          //{ title: "User"},
                          { title: "Location"},
                          { title: "PM1.0"},
                          { title: "PM2.5"},
                          { title: "PM10"},
                          //{ title: "AI_1"},
                          { title: "Description"}, 
                          { title: "Datatime"},
                          //{ title: "Datatime"},
                          
                          ],
                columnDefs: [ {targets: [1,2,3], render: $.fn.dataTable.render.ellipsis( 25 )}]
              } );

          },
          error: function(error){
            console.log(error);
          }
        });

          
               
                 
          
          
             
              
              

        $("#add_data_button").click(function () {

          $.ajax({
            url: "/Mysql_user_data",
            type: "GET",
            success: function(response){

              window.location.reload();
              
            },
            error: function(error){
              console.log(error);
            }
          });

        });

        
        $("#refresh_transactions").click(function () {

          window.location.reload();

        });


        $("#refresh_blockchain").click(function () {

          $.ajax({
            url: "/Mysql_user_data",
            type: "GET",
            success: function(response){

              window.location.reload();
              
            },
            error: function(error){
              console.log(error);
            }
          });

        });
        


        

      })


        
      /// Mysql_user_dat (END)   
     

     
      
    
     $("#Input_data_button").click(function () {
          
         aa=amount_input_data.value-1;
         chain_length=transactions_b.length-1;
         //chain_length=transactions_a2.length-1;
         if (aa>=0 && aa<=chain_length) 
             {
              
              location_address.value =transactions_b[aa][1];
              
              amount_pm_1_0.value =transactions_b[aa][2];  
              amount_pm_2_5.value =transactions_b[aa][3]; 
              amount_pm_10_0.value =transactions_b[aa][4]; 
              //amount_ai_1.value =transactions_b[aa][5];
              amount_ai_1.value ="";
              amount_Description.value =transactions_b[aa][5];
              //amount_Description.value =transactions_a2[1][2];   
              amount_datatime.value =transactions_b[aa][6];
             }
             
          else
             {
              location_address.value ="";
              amount_pm_1_0.value ="";  
              amount_pm_2_5.value =""; 
              amount_pm_10_0.value =""; 
              amount_ai_1.value ="";
              amount_datatime.value ="";
              amount_Description.value ="";
             };
        });   
        
     
    $("#Input_AI_button").click(function () {
          
         aa=amount_input_AI.value-1;
        
         //aa2=0;
         chain_length=transactions_a2.length-1;
         //aa=amount_input_data.value-1;
         //chain_length=transactions_b.length-1
          //a=1;
          //console.log('@@@@ transactions_a2: ');
         //chain_length_2_=3;
         //chain_length=transactions_b.length-1;
         if (aa>=0 && aa<=chain_length) 
             {
              
              //location_address.value =transactions_b[aa][1]+1000;
              //location_address.value =55;   
              //amount_pm_1_0.value ="";
              location_address.value =transactions_a2[aa][1];   
              amount_pm_1_0.value ="";   
              amount_pm_2_5.value =""; 
              amount_pm_10_0.value =""; 
              //amount_ai_1.value ="1111";
              amount_ai_1.value =transactions_a2[aa][2];
              //amount_ai_1.value =transactions_b[aa][2];    
              //amount_ai_1.value ="";
              amount_Description.value =transactions_a2[aa][3]; 
              amount_datatime.value =transactions_a2[aa][4];
             }
             
          else
             {
              location_address.value ="";
              amount_pm_1_0.value ="";  
              amount_pm_2_5.value =""; 
              amount_pm_10_0.value =""; 
              amount_ai_1.value ="";
              amount_datatime.value ="";
              amount_Description.value ="";
             };
        });   
        
       
        
        
        
        
    </script>


  </body>

</html>
 


  